# Microsoft SQL Server

In this tutorial, we'll see how to query Microsoft SQL Server from Jupyter. Optionally, you can spin up a testing server.

```{tip}
If you encounter issues, feel free to join our [community](https://ploomber.io/community) and we'll be happy to help!
```

## Installing the ODBC driver

The first step is to install the [ODBC driver for SQL Server](https://learn.microsoft.com/en-us/sql/connect/odbc/microsoft-odbc-driver-for-sql-server?view=sql-server-ver16).

- Instructions for [Linux](https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver16&tabs=alpine18-install%2Calpine17-install%2Cdebian8-install%2Credhat7-13-install%2Crhel7-offline)
- Instructions for [Mac](https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/install-microsoft-odbc-driver-sql-server-macos?view=sql-server-ver16)

For example, if you're on a Mac, you can install the driver with `brew`:

```sh
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
brew tap microsoft/mssql-release https://github.com/Microsoft/homebrew-mssql-release
brew update
HOMEBREW_ACCEPT_EULA=Y brew install msodbcsql18 mssql-tools18
```

## Starting SQL Server with Docker

If you don't have a SQL Server running or you want to spin up one for testing, you can do it with the official [Docker image](https://hub.docker.com/_/microsoft-mssql-server).

```{important}
If you're on a Mac with Apple Silicon (e.g., M1 processor), ensure you're running the latest Docker Desktop version. More info [here](https://bornsql.ca/blog/you-can-run-a-sql-server-docker-container-on-apple-m1-and-m2-silicon/).
```


To start the server:

In [39]:
%%bash
docker run -e "ACCEPT_EULA=Y" \
    -e "MSSQL_SA_PASSWORD=MyPassword!" \
    -p 1433:1433 \
    -d mcr.microsoft.com/mssql/server:2022-latest

WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested

32373fc0b93b9749e2457f2e3a66d3981abf871ea99bbd172c54ea83cf9b0827

```{important}
Ensure you set a strong password, otherwise the container will shut down silently!
```

Ensure that your container is running (run the command a few seconds after running the previous one to ensure it dind't shut down silently):

In [48]:
%%bash
docker ps

CONTAINER ID   IMAGE                              COMMAND                  CREATED              STATUS              PORTS                              NAMES
bdfab4808021   mcr.microsoft.com/azure-sql-edge   "/opt/mssql/bin/perm…"   About a minute ago   Up About a minute   1401/tcp, 0.0.0.0:1433->1433/tcp   sql

If you have issues with the previous command, you can try with [SQL Edge](https://medium.com/geekculture/docker-express-running-a-local-sql-server-on-your-m1-mac-8bbc22c49dc9):

In [42]:
%%bash
docker run -e "ACCEPT_EULA=1" -e "MSSQL_SA_PASSWORD=MyPassword!" \
    -e "MSSQL_PID=Developer" -e "MSSQL_USER=sa" \
    -p 1433:1433 -d --name=sql mcr.microsoft.com/azure-sql-edge

bdfab4808021247a4d0aad3bbdf7dca0247c8146573a33c3f874e1f9ed847801

Ensure the server is running (wait for a few seconds before running it):

In [50]:
%%bash
docker ps

CONTAINER ID   IMAGE                              COMMAND                  CREATED         STATUS         PORTS                              NAMES
bdfab4808021   mcr.microsoft.com/azure-sql-edge   "/opt/mssql/bin/perm…"   3 minutes ago   Up 3 minutes   1401/tcp, 0.0.0.0:1433->1433/tcp   sql

## Installing `pyodbc`


`pyodbc` will allow us to connect to SQL Server. If you're on macOS or Linux, you need to install unixODBC. Note that when installing the ODBC driver on macOS using `brew`, unixODBC is also installed.


Install `pyodbc` with:

```sh
pip install pyodbc
```

```{note}
If you're on a Mac with Apple Silicon (e.g., M1 processor), you might encounter issues, if so, try thi:

~~~sh
pip install pyodbc=4.0.34
~~~
```

Verify a successful installation with:

In [51]:
import pyodbc

Verify that `pyodbc` is able to findn the SQL Server driver:

In [52]:
pyodbc.drivers()

['ODBC Driver 18 for SQL Server']

```{tip}
If the driver doesn't appear, uninstalling `pyodbc` and re-installing it again might fix the problem.

If you're on a Mac with Apple Silicon, ensure you installed `pyodbc` with `pip`, since `conda` might lead to issues.
```

## Starting the connection

To start the connection, execute the following, change the values to match your SQL Server's configurationo:

In [53]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

connection_url = URL.create(
    "mssql+pyodbc",
    username="sa",
    password="MyPassword!",
    host="localhost",
    port=1433,
    database="master",
    query={
        "driver": "ODBC Driver 18 for SQL Server",
        "Encrypt": "yes",
        "TrustServerCertificate": "yes",
    },
)
engine = create_engine(connection_url)

Install, load the Jupyter extension and start the connection:

In [1]:
%pip install jupysql --quiet

Note: you may need to restart the kernel to use updated packages.

In [54]:
%load_ext sql
%sql engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

```{note}

If you see the following error:

~~~
InterfaceError: (pyodbc.InterfaceError) ('IM002', '[IM002] [unixODBC][Driver Manager]Data source name not found and no default driver specified (0) (SQLDriverConnect)')
(Background on this error at: https://sqlalche.me/e/14/rvf5)
~~~

It might be that you're missing the SQL Server ODBC driver or that `pyodbc` cannot find it.

```


Run some sample queries:

In [55]:
%%sql
SELECT * FROM sys.databases;

*  mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('master', 1, None, b'\x01', datetime.datetime(2003, 4, 8, 9, 13, 36, 390000), 150, 'SQL_Latin1_General_CP1_CI_AS', 0, 'MULTI_USER', False, False, False, 0, 'ONLINE', False, False, False, 1, 'ON', False, 3, 'SIMPLE', 2, 'CHECKSUM', True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, '00000000-0000-0000-0000-000000000000', False, 4, 'ACTIVE_TRANSACTION', False, False, False, False, None, None, None, None, None, None, None, None, None, None, 0, 'NONE', 0, 0, 'DISABLED', False, False, False, True, True, 0, 'DATABASE_DEFAULT', 'master', False, False, False, False, True, True),
 ('tempdb', 2, None, b'\x01', datetime.datetime(2023, 3, 3, 18, 30, 36, 683000), 150, 'SQL_Latin1_General_CP1_CI_AS', 0, 'MULTI_USER', False, False, False, 0, 'ONLINE', False, False, False, 0, 'OFF', False, 3, 'SIMPLE', 2, 'CHECKSUM', True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, '0E7FA998-68E7-4C88-8637-96D75972D644', True, 0, 'NOTHING', False, False, False, False, None, None, None, None, None, None, None, None, None, None, 0, 'NONE', 60, 0, 'DISABLED', False, False, False, False, True, 0, 'DATABASE_DEFAULT', 'tempdb', False, False, False, False, True, True),
 ('model', 3, None, b'\x01', datetime.datetime(2003, 4, 8, 9, 13, 36, 390000), 150, 'SQL_Latin1_General_CP1_CI_AS', 0, 'MULTI_USER', False, False, False, 0, 'ONLINE', False, False, False, 0, 'OFF', False, 3, 'SIMPLE', 2, 'CHECKSUM', True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, '00000000-0000-0000-0000-000000000000', False, 0, 'NOTHING', False, False, False, False, None, None, None, None, None, None, None, None, None, None, 0, 'NONE', 60, 0, 'DISABLED', False, False, False, True, True, 0, 'DATABASE_DEFAULT', 'model', False, False, False, False, True, True),
 ('msdb', 4, None, b'\x01', datetime.datetime(2023, 1, 25, 11, 15, 47, 897000), 150, 'SQL_Latin1_General_CP1_CI_AS', 0, 'MULTI_USER', False, False, False, 0, 'ONLINE', False, False, False, 1, 'ON', False, 3, 'SIMPLE', 2, 'CHECKSUM', True, False, True, False, False, False, False, False, False, False, False, False, False, False, False, True, True, True, False, False, False, False, False, False, False, False, 'DFDA93AA-A255-4F97-AFEB-F0FC5176D611', True, 0, 'NOTHING', False, False, False, False, None, None, None, None, None, None, None, None, None, None, 0, 'NONE', 60, 0, 'DISABLED', False, False, False, True, True, 0, 'DATABASE_DEFAULT', 'msdb', False, False, False, False, True, True)]

In [56]:
%%sql
CREATE TABLE languages (name VARCHAR(255), rating FLOAT, change FLOAT);
INSERT INTO languages VALUES ('Python', 14.44, 2.48);
INSERT INTO languages VALUES ('C', 13.13, 1.50);
INSERT INTO languages VALUES ('Java', 11.59, 0.40);
INSERT INTO languages VALUES ('C++', 10.00, 1.98);

*  mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [57]:
%%sql
SELECT * FROM languages

*  mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[('Python', 14.44, 2.48),
 ('C', 13.13, 1.5),
 ('Java', 11.59, 0.4),
 ('C++', 10.0, 1.98)]

## Shut down the container

In [33]:
%%bash
docker container ls

CONTAINER ID   IMAGE                              COMMAND                  CREATED          STATUS          PORTS                              NAMES
693c23a635a1   mcr.microsoft.com/azure-sql-edge   "/opt/mssql/bin/perm…"   48 minutes ago   Up 48 minutes   1401/tcp, 0.0.0.0:1433->1433/tcp   sql

In [63]:
%%bash
docker container stop sql

sql

In [64]:
%%bash
docker container rm sql

sql

In [65]:
%%bash
docker container ls

CONTAINER ID   IMAGE     COMMAND   CREATED   STATUS    PORTS     NAMES